@font-face {
    font-family: 'Montserrat Black';
    src: url('Montserrat-Black.eot');
    src: url('Montserrat-Black.eot?#iefix') format('embedded-opentype'),
    url('Montserrat-Black.woff') format('woff'),
    url('Montserrat-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Regular';
    src: url('OpenSans-Regular.eot');
    src: url('OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('OpenSans-Regular.woff') format('woff'),
    url('OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu Regular';
    src: url('Ubuntu-Regular.eot');
    src: url('Ubuntu-Regular.eot?#iefix') format('embedded-opentype'),
    url('Ubuntu-Regular.woff') format('woff'),
    url('Ubuntu-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu Bold';
    src: url('Ubuntu-Bold.eot');
    src: url('Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),
    url('Ubuntu-Bold.woff') format('woff'),
    url('Ubuntu-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}